.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  max-height: 70vh;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  a, h1, span {
    font-size: 3vmin;
  }
}



.rowContainer {
  background-color: rgba($color: #2751b1, $alpha: 0.1);
  margin: 5vh auto;
  padding: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1vh 1vw;
  display: flex;
  justify-content: start;
}

.currentProject {
  margin: auto;
  padding: 5px;
  background-color: rgba($color: #2751b1, $alpha: 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  & img {
    max-width: 500px;
    border: 5px solid rgba($color: #2751b1, $alpha: 0.5);
    border-radius: 50px;
  }

  .bigImage {
    transform: scale(1.8) translate(100px, 0vh);
    position: relative;
    z-index: 1000;
  }
}

.oneProject {
  margin: 0.5vh 0.5vw;
  display: flex;
  flex-direction: row-reverse;
  transition: all 0.4s ease-in-out;
  filter: brightness(0.5);

  & img {
    margin: 0 auto;
    max-width: 10vw;
    max-height: 10vh;
    border-radius: 8px;
  }
  &:hover {
    transform: scale(1.1);
    filter: brightness(1);
    z-index: 100;
  }

  &:hover .oneProjectInfo {
    animation: showText 1s 1.1.8s forwards;
  }
}

.ChooseProject{
  margin: auto;
}

.links{
  display: flex;
  flex-direction: column;
}



.detailedCurrentProjectContainer{
  display: flex;
  flex-direction: column;
  padding: 2vh 2vw;
}

.detailedCurrentProject{
  display: flex;
  ul {
    li{
      display: flex;
      margin-bottom: 1vh;
    }
  }
}

.titleDetailProject{
  margin-right: 1vw;
  color: #86b5ff;
}

.used{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  span{
    margin-right: 1vw;
  }
}

@media screen and(max-width:1190px) {
  .container {
    flex-direction: column;
  }

.detailedCurrentProject{
  flex-direction: column;
}

.currentProjectInfo{
  max-height: 20vh;
  overflow-y: scroll;
}

.oneProject{
  img{
    max-width: 30vw;
  }
}

.bigImage {
  transform: scale(1.2) translate(0vw, 10vh) !important;
  position: relative;
  z-index: 1000;
}



}
